

.menuBlock {

    align-items: center;
    justify-content: center;
    position: absolute;
    pointer-events: none;
    max-height: 0;
    //transform-box: stroke-box;
    overflow: hidden;
    transition: 0.5s all;
    margin-top: 3px;



}

.menuBlock_active {
    transform: translateY(0%);
    pointer-events: all;
    max-height: 100%;

}