/*a{
    color: #165067;
    text-decoration: none;
}
a:hover{
    color: #dbf3ff;
}*/
.content {
    grid-area: content;
    background-color: #DBF3FF;
    margin: 5px;
    border-radius: 1px;

}
.main {
    text-align: center;
    display: grid;
    grid-template-rows: initial;
    grid-template-columns: 1fr;
    grid-template-areas:
        "search"
        "result";
    margin: 10px auto auto;
}
.headerButtons {
    transition: color,background-color 500ms ease;
    background: #90D1F2;
    color: #165067;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    margin: auto;
    width: 90%;
    border: 0;
}

.headerButtons:hover {
    background: #23637C;
    color: white;

}
.headerButtons:active{
    transition: 1ms;
    background: white;
    color: #165067;
}

.search:hover {
    max-width: 90%;
    background: white;
    color: #165067;
    width: 90%;
}

.search {
    max-width: 50%;
    transition: 1s linear;
    background: white;
    /*width: 20%;*/
    /*align-self: center;*/
    text-align: center;
    /*margin: 10px auto auto;*/

}

.table {
    /*margin: 30px 10px auto;*/
    display: grid;
    grid-template-rows: initial;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    grid-template-areas:
        "item item item item item item";
    margin-top: 5px;
    justify-content: space-around;
    //margin-left: 10px;
    /*grid-auto-columns: 6fr;*/

}


.tableRes {
    display: grid;
    grid-template-rows: initial;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    grid-template-areas:
        "item item item item item item";
    margin-top: 5px;
    justify-content: space-around;
    transition: 0.5s all;
    color-adjust: exact;
}
.tableRes:hover{
    background-color: #165067;
    color: #DBF3FF;
    color-adjust: unset;



}

.item {
    /*font-size: 20px;*/
    //margin: auto auto auto;
    text-align: left;
    margin-left: 10%;




}


.headerTable {
    background: #90D1F2;
    color: #165067;
    width: 90%;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
}

.header {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 15% 15% 55% 15%;
    grid-template-areas:
        "item item item item";
    margin-top: 10px;


}

